@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,300&family=Poppins:ital,wght@0,200;0,300;0,600;0,700;1,300;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

:root {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

header {
  height: 70vh;
  overflow: hidden;
  background-image: url("./images/imagine-dragons-header-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem;
  position: relative;
}

h1 {
  font-size: 6rem;
  text-shadow: 0.8rem 0.4rem black;
}

h2 {
  font-size: 4.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.5rem;
}

.quote-header {
  position: absolute;
  bottom: 3rem;
  font-size: 2rem;
}

.top-nav {
  padding: 2rem 0;
}

.top-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 600;
}
.top-nav a {
  color: black;
}

.top-nav a:hover {
  color: rgb(125, 3, 177);
}

a {
  text-decoration: none;
}

.albums-list ul {
  list-style-type: none;
}

.albums-list {
  line-height: 2.5rem;
  font-weight: 400;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date-album {
  font-style: italic;
  font-weight: 300;
  font-size: 1rem;
}

/* general styles */
.margin-top-small {
  margin-top: 1.5rem;
}

.margin-top-medium {
  margin-top: 3rem;
}

.inverse {
  color: white;
}

.inverse a {
  color: white;
}

.inverse a:hover {
  color: rgb(125, 3, 177);
}

.text-align-center {
  text-align: center;
}

.padding-small {
  padding: 1.5rem;
}

.padding-medium {
  padding: 3rem;
}

.container-secondary {
  background-color: #2e2e2e;
}

.card {
  border-radius: 2rem;
  margin: 2rem;
  overflow: hidden;
  width: 40%;
  height: 650px;
}

.card-primary {
  box-shadow: 0.2rem 0.5rem 0.5rem #e1e1e1;
}

.card-secondary {
  box-shadow: 0.2rem 0.5rem 0.5rem #717171;
  background-color: #2e2e2e;
}

.card > div {
  max-height: 500px;
  overflow: hidden;
}

.card img {
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

hr {
  border-color: #2e2e2e;
  border-width: 0.1rem;
}
